@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600");


/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;

	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}



	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}


/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */


	body {
		background: #fff;
	}


/* Type */

	body {
		background-color: #fff;
		color: #22313F;
	}

	body, input, select, textarea {
		font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		text-decoration: underline;
		color: #19B5FE;
	}

		a:hover {
			text-decoration: none;
			color: #019be3;
		}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		line-height: 1.5;
		margin: 0 0 1em 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 2em;
	}


	h2 {
		font-size: 1.75em;
	}


	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}



/* Box */

	.box {
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		margin-bottom: 2em;
		padding: 1.5em;
	}



/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: #19B5FE;
		color: #FFF;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}





/* Contact */

	#contact {
		display: -ms-flexbox;
		-ms-flex-pack: justify;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		background: #ececec;
	}

		#contact form {
			margin: 0;
		}

		#contact .icons {
			margin-bottom: 1em;
		}

 		#contact .column {
			padding: 3.5em 0 1.5em 0;
			padding-left: 3.5em;
			padding-right: 3.5em;
			width: 50%;
		}

			#contact .column.social {
				background: #e6e6e6;
			}


/* Form */

	form {
		margin: 0 0 2em 0;
	}

		form .field {
			margin-bottom: 1.5em;
		}

			form .field.half {
				display: inline-block;
				width: 48%;
			}

				form .field.half.first {
					margin-right: 2.5%;
				}



	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 4px;
		border: solid 1px rgba(25, 181, 254, 0.25);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:active, input[type="text"]:focus,
		input[type="password"]:active,
		input[type="password"]:focus,
		input[type="email"]:active,
		input[type="email"]:focus,
		select:active,
		select:focus,
		textarea:active,
		textarea:focus {
			border: solid 1px #19B5FE;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	} 


/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}



/* Wrapper */

	.page-wrap {
		display: -ms-flexbox;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-moz-justify-content: -moz-flex-start;
		-webkit-justify-content: -webkit-flex-start;
		-ms-justify-content: -ms-flex-start;
		justify-content: flex-start;
		min-height: 100vh;
		height: auto;
	}

	.wrapper {
		position: relative;
	}

		.wrapper > .inner {
			margin: 0 auto;
			width: 60em;
		}

Ã

/* Header */

	#header {
		font-weight: 700;
	}

/* Menu */

	#nav {
		background: #0d1217;
		z-index: 10002;
		position: relative;
		width: 4em;
	}

		#nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
			position: fixed;
			top: 1em;
			left: 0;
		}

			#nav ul li {
				padding: 0;
				width: 3.75em;
				text-align: Center;
				margin-bottom: 1em;
			}

				#nav ul li a {
					color: rgba(255, 255, 255, 0.5);
					text-decoration: none;
					font-size: 1.5em;
				}

					#nav ul li a:hover {
						color: white;
					}

					#nav ul li a.active {
						color: #19B5FE;
					}



	body.is-loading #banner > .inner {
		opacity: 0;
		-moz-transform: translateY(1em);
		-webkit-transform: translateY(1em);
		-ms-transform: translateY(1em);
		transform: translateY(1em);
	}

	#banner {
		display: -ms-flexbox;
		-ms-flex-pack: center;
		-ms-flex-align: center;
		padding: 8em 0 6em 0;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		min-height: 75vh;
		height: 75vh;
		position: relative;
		background: #000;
		background-image: url(../../img/alpha/banner.jpg);
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		color: #FFF;
	}

		#banner:before {
			-moz-transition: opacity 3s ease;
			-webkit-transition: opacity 3s ease;
			-ms-transition: opacity 3s ease;
			transition: opacity 3s ease;
			-moz-transition-delay: 0.25s;
			-webkit-transition-delay: 0.25s;
			-ms-transition-delay: 0.25s;
			transition-delay: 0.25s;
			content: '';
			display: block;
			background-color: #000;
			height: 100%;
			left: 0;
			opacity: 0.65;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		#banner .inner {
			-moz-transform: none;
			-webkit-transform: none;
			-ms-transform: none;
			transform: none;
			-moz-transition: opacity 1s ease, transform 1s ease;
			-webkit-transition: opacity 1s ease, transform 1s ease;
			-ms-transition: opacity 1s ease, transform 1s ease;
			transition: opacity 1s ease, transform 1s ease;
			position: relative;
			opacity: 1;
			z-index: 3;
			padding: 0 2em;
		}

		#banner h1 {
			font-size: 4em;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
			color: #FFF;
		}

		#banner p {
			font-size: 1.5em;
			margin-bottom: 1.75em;
		}

		#banner a {
			color: #FFF;
			text-decoration: none;
		}


/* Main */

	#main {
		background: #f1f1f1;
		width: 100%;
		height: 100%;

	}

		#main #header {
			background: #e6e6e6;
			padding: 1.15em 3.5em;
			text-align: right;
		}

			#main #header h1 {
				margin: 0;
				font-size: 1em;
			}

			/* @media screen and (max-width: 980px) {

				#main #header {
					padding: 1.15em 2em;
				}

			}

			@media screen and (max-width: 736px) {

				#main #header {
					text-align: center;
				}

			} */

/* Footer */

	#footer {
		padding: 4em 0 2em 0;
		background: #f2f2f2;
	}

		#footer .copyright {
			color: #bfbfbf;
			font-size: 0.9em;
			margin: 0 0 2em 0;
			padding: 0 1em;
			text-align: center;
		}

		/* @media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0 1em 0;
			}

		}
 */

























/* ###################################### gallery pic abc ############################### */
/* ###################################### gallery pic abc ############################### */
.abc{
	margin: 0 auto;
		width: 30em;

}
.next{
	position:fixed; 
	bottom : 0;
	right:0; 
}
.prev{
	position:fixed; 
	bottom : 0;
	left:50px; 
}
.post{
	width: 100%;
}




/* ################################# profile ################################### */
#img-superpose{
	position:absolute;
    top : 0;
    right:0;
    margin-top: 100px;
}
#pub{
	position:absolute;
	bottom:0;
	right:0;
	margin-right: 5px;
	margin-bottom: 100px;
}
.ttt{
	height: 101.8em;
}
.g{
	display: inline-block;
}



/* ################################# log ################################### */
#log{
	width: 30em;
	margin-left: 30%;
}

#al{
	min-height: 56vh;
}

#continue-to-gallery{
	position: fixed;
	right: 10px;
	bottom: 630px;
}

/* ################################# Comments ################################### */

#all{
	min-height: 87vh;
}

/* ################################# MOdify ################################### */
.info{
	width: 30em;
	margin-left: 30%;
	padding-left: 5px;
	padding-right: 5px;
	border-color: #000;
	border-style: solid;
  	border-width: 2px;
}

.filter
{
	position: absolute;
	top: 205px;
	left: 130px;
}
.filte
{
	position: absolute;
	top: 180px;
	left: 65px;
}


.filterr
{
	position: absolute;
	top: 720px;
	left: 130px;
}

.filterrr
{
	position: absolute;
	top: 690px;
	left: 75px;
}
